.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #090909;

	overflow-y: scroll;

	.content {
		display: block;
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		padding: 25px;

		color: #fff;

		h2 {
			font-size: 28px;
			font-weight: 600;

			span {
				font-weight: 300;
				font-size: 20px;
			}
		}

		.image-or-trailer {
			margin-top: 20px;
		}

		.title {
			margin-top: 20px;
			color: red;
		}

		.release-date {
			font-size: 16px;
		}

		.overview {
			margin-top: 10px;
		}

		.rating {
			margin-top: 20px;
			font-size: 18px;

			.icon {
				color: goldenrod;
			}
		}

		.backTo {
			display: inline-block;
			padding: 15px 30px;
			font-size: 18px;
			font-weight: 700;

			background-color: rgb(0, 0, 0);
			color: white;
			border-radius: 8px;
			border: none;
			outline: none;
			cursor: pointer;
			appearance: none;

			transition: 0.4s ease-out;

			&:hover {
				background-color: black;
				color: red;
			}
		}
	}
}
